.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    width: 38%;
    /* padding: 25px; */
    text-align: center;
}

.errorHeading {
    font-size: 36px;
    padding-bottom: 50px;
}

.message p {
    font-size: 18px;
}

.link {
    color: rgb(35, 35, 255);
}