.body {
    overflow-y: auto;
    background: rgb(1, 56, 56);
}

.myRow {
    background: lightgrey;
    border-radius: 20px;
}

.image {
    border-radius: 20px;
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 8%;
    box-shadow: 5px 10px #ccc;
}

.p {
    text-align: center;
}

.h1 {
    text-align: center;
    color: rgb(1, 1, 48);
}

.h3 {
    text-align: center;
    color: rgb(1, 1, 112);
}

.btn1 {
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    background-color: #0284c7;
    color: aliceblue;
    border-radius: 7px;
}

.btn1:hover {
    background-color: #0369a1;
}

.h4 {
    color: #134e4a;
    /* text-decoration:underline; */
    text-align: center;
}

.h2 {
    text-align: center;
    margin: auto;
    margin-top: 50%;
    font-size: 24px;
}
